@import "reset";
@import "header+footer";



header {
  position: relative;
  background-image: url("../images/Iceland9.png");
  padding-top: 621px;
  background-size: cover;
  img {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  p{
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);
    font-family: $font-open;
    font-size: 18px;
    line-height: 2.22;
    color: #000000;
    position: absolute;
    bottom: 18px;
    span {
      text-transform: uppercase;
    }
  }
}

.main-article {
  margin: 34px 0 25px;
  h2 {
    font-family: $font-PT;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 11px;
  }
  p {
    font-size: $text-main;
    font-family: $font-PT;
    margin-bottom: 11px;
    line-height: 1.38;
    color: #333333;
  }
}

